[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = ">=1.8.4"
coverage = "*"
mock = "*"
nose = "*"


[packages]
bs4 = "*"
requests = "*"
pandas = "*"
sqlalchemy = "*"

[requires]
python_version = "3.5"
