[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
coverage = "*"
mock = "*"
nose = "*"

[packages]
"bs4" = "==0.0.1"
pandas = "==0.20.3"
requests = "==2.18.4"
SQLAlchemy = "==1.1.13"

